body {
  background-color: black;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: 'Bricolage Grotesque';
  transform: rotate(-90deg);
  color: white;
}

.intro {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 16px;
}

.content-intro {
  display: flex;
  align-items: center;
  margin: 16px;
}

.content-tt {
  display: flex;
  align-items: center;
  margin: 16px;
}

.content-form {
  display: flex;
  flex-direction: column;
  font-family: 'Inter Tight', sans-serif;
  margin: 16px;
}

.content-form input {
  font-family: 'Inter Tight';
  border: 2px solid #333333;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 16px;
  background: #0a0a0a;
  font-size: medium;
  color: white;
}

.image {
  display: flex;
  margin: 4px;
}

.name-bio {
  display: flex;
  flex-direction: column;
  margin: 0 0 4px 16px;
}

.two-truths {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 16px;
}

.list {
  font-family: 'Familjen Grotesk', sans-serif;
  font-size: 24px;
  color: white;
}

.form {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 16px;
}

.name-form,
.email-form,
.age-form {
  display: flex;
  flex-direction: column;
}

.linebreak {
  background-color: #888888;
  border-radius: 10px;
  height: 1px;
  width: 100%;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#my_name {
  font-family: 'Inter Tight', sans-serif;
  font-size: 30px;
  color: white;
  margin: 0;
}

#bio {
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  color: #888888;
}

#submit {
  background-color: white;
  font-weight: 500;
  border-color: white;
  margin: 0 0 8px 0;
  color: black;
}

#submit:hover {
  background-color: #cccccc;
}

#name-label,
#email-label,
#number-label,
#dropdown-label,
#comments-label {
  color: #888888;
  display: block;
  text-align: start;
  margin-bottom: 4px;
  font-weight: 500;
}

.name-gradient {
  background: linear-gradient(90deg, #f5ab39, #4495f1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.water-gradient {
  background: linear-gradient(180deg, white, #4495f1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
